In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
df = pd.read_csv('../data/FirstGenPokemon.csv')

In [3]:
df.head()

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,NaN,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,NaN,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Number        151 non-null    int64
 1    Name         151 non-null    object
 2    Types        151 non-null    int64
 3    Type1        151 non-null    object
 4    Type2        62 non-null     object
 5    Height(m)    151 non-null    float64
 6    Weight(kg)   151 non-null    float64
 7    Male_Pct     151 non-null    float64
 8    Female_Pct   151 non-null    float64
 9    Capt_Rate    151 non-null    int64
 10   Exp_Points   151 non-null    int64
 11   Exp_Speed    151 non-null    object
 12   Base_Total   151 non-null    int64
 13   HP           151 non-null    int64
 14   Attack       151 non-null    int64
 15   Defense      151 non-null    int64
 16   Special      151 non-null    int64
 17   Speed        151 non-null    int64
 18   Normal_Dmg   151 non-null    float64
 19   Fire_Dmg     151 non-null    float64
 20   Water_Dmg    151 non-null    float64
 21   Eletric_Dmg  151 non-null    float64
 22   Grass_Dmg    151 non-null    float64
 23   Ice_Dmg      151 non-null    float64
 24   Fight_Dmg    151 non-null    float64
 25   Poison_Dmg   151 non-null    float64
 26   Ground_Dmg   151 non-null    float64
 27   Flying_Dmg   151 non-null    float64
 28   Psychic_Dmg  151 non-null    float64
 29   Bug_Dmg      151 non-null    float64
 30   Rock_Dmg     151 non-null    float64
 31   Ghost_Dmg    151 non-null    int64
 32   Dragon_Dmg   151 non-null    int64
 33   Evolutions   151 non-null    int64
 34  Legendary     151 non-null    int64
dtypes: float64(17), int64(14), object(4)
memory usage: 41.4+ KB